

a:link {color: navy;}
a:visited {color: red;}
a:hover {color: purple;}


body {
    color: #78A5FF }
    background-size: 200px;
}

p {
 background-color: #FFF2F5;
 width: 300px;
 padding: 20px;
 margin: 50px;
 border: 5px solid #000000;
}

nav {
    background-color: #FDFFB5;
    padding: 10px;
    margin-bottom: 30px;   
}
nav a {
color:#B9FF99;

}
nav a:hover {
    background-color: #FFF2DB;
}
@media only screen and (max-width:600px) {
    nav a {
        display: 100%;
        display:block;
        padding:10px;
         }
         nav span {
             display: none; 
         }
     }

